@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #282a43;
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
    background:#fff ;
    max-width: 640px;
    margin:50px auto;
     padding: 20px;
     border-radius: 10px;
}
h1 {
    text-align:center;
}
.display {
    width: 100%;
    font-size: 2rem;
}

.btn {
    font-size: 1em;
    width: 100%;    
    border: none;
    height:50px;
    background: #dfdfdf;
    cursor: pointer;
}
